name: Build and Release

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build and Publish
      run: |
        if [[ $GITHUB_REF == refs/tags/* ]]; then
          ./gradlew build publish
        else
          ./gradlew build publish -Psnapshot
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get Version
      id: get_version
      run: |
        if [[ $GITHUB_REF == refs/tags/* ]]; then
          echo "version=$(./gradlew printVersion --quiet)" >> $GITHUB_OUTPUT
        else
          echo "version=$(./gradlew printVersion -Psnapshot --quiet)" >> $GITHUB_OUTPUT
        fi

    - name: Release
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name == 'main' && 'snapshot' || github.ref_name }}
        name: ${{ github.ref_name == 'main' && format('Snapshot {0}', steps.get_version.outputs.version) || format('Release {0}', steps.get_version.outputs.version) }}
        files: build/libs/*.jar
        prerelease: ${{ github.ref_name == 'main' }}
        draft: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}